<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <script src="../../../../../../Documents/Password_Create_Website-master/pcw/js/loginForm.js"></script>
</head>
<body>
    <section class="login-form">
        <h1>로그인 페이지</h1>
        <form method="post" action="/login">
            ID: <input type="text" name="id" /><br />
            Password: <input type="password" name="pwd" /><br />
            <input type="submit" />
        </form>
    </section>

</body>
</html>